/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --font-main: Poppins, sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    height: auto;
}

header #box-logo{
    width: 15vw;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
}

header #box-logo img{
    border-radius: 1rem;
    width: 100%;
    min-width: 120px;
}

header #box-logo img:hover{
    transform: scale(1.1);
    transition: 500ms linear;
}

header #title-main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header #title-main :hover {
    transition: color 2s ease 0s;
    color:#6B1117
}

a {
    text-decoration: none;

}

.title{
    font-size: 4.8rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    text-align: center;
    font-size: larger;
    font-family: var(--font-main);
    
}

.title-topcs{
    font-size: 2rem;
    color: #423041;
}

.degrade {
    background-image: linear-gradient(to right,#6FE1F0 ,#E602E2 );
}


.text{
    font-size: 1.7rem;
    font-style:italic
}  

#introduction, #about, #not-maney, #roles{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    height: auto;
    padding: 10px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 13px 29px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 13px 29px -1px rgba(0,0,0,0.34);
    box-shadow: 0px 13px 29px -1px rgba(0,0,0,0.34);
    border-radius: 5px;
}

#introduction{
    border: 3px solid black;
    box-shadow: none;
}

#form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    height: auto;
    padding: 10px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 13px 29px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 13px 29px -1px rgba(0,0,0,0.34);
    box-shadow: 0px 13px 29px -1px rgba(0,0,0,0.34);
    border-radius: 5px;
}

#boxDis{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
    width: 90%;
    height: 650px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

#loader{
    z-index: 5000;
    display: none;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 8.1rem;
    width: 8.1rem;
    margin-bottom: 5px;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }


#form{
    margin-top: 80px;
    box-shadow: none;
    padding-bottom: 100px;
}

#form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

#form form input, label, textarea{
    width: 50%;
    display: flex;
}

#form form input, textarea{
    height: 40px;
    font-family: var(--font-main);
    border: none;
    padding-left: 5px;

}

textarea:focus{
    border: 2px solid #E602E2;
    outline: 0;
}

#form label{
    margin-top: 20px;
}

#form textarea{
    min-height: 200px;
    max-height: 350px;
    resize: vertical;
    padding-top: 2px;
}

#form button{
    width: 27%;
    height: auto;
    margin-top: 20px;
    border: none;
    background-color: #E602E2;
    color: #fff;
    font-family: var(--font-main);
    font-size: 1.3rem;
    transition: .2s;
    border-radius: 20px;
    padding: 10px;
}

#form button:hover{
    background: linear-gradient(to top ,#6FE1F0 ,#E602E2);
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    position: relative;
}








/* style scrollbar */
body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #212F3D ;       
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top,#6FE1F0 ,#E602E2 );    
    border-radius: 20px;  
}

@media (max-width: 1090px){
    #box-logo{
        display: none;
    }

    #form form input, label, textarea{
        width: 80%;
    }
}