* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;

}


.titl {
    font-size: 400%;
    color: #E748F0;
    text-align: center;
}

.mamagem {
    width: 16%;
    right: 20%;
    position: absolute;
    
}

body {
    text-align: center;
    font-size: larger;
    
}

.degrade {
    background-image: linear-gradient(to right,#6FE1F0 ,#E602E2 );
}

