.titl {
    font-size: 400%;
    color: #E748F0;
    text-align: center;
}

.mamagem {
    width: 20%;
    right: auto;
    position: relative;
}

body {
    text-align: center;
    font-size: larger;
    background: -o-linear-gradient(to right, purple, darkred);
}

